body {
  margin: 0;
  background-color: #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  box-shadow: 0 0 2rem rgba(0,0,0,.1);
}

.top {
  background-color: #fecf30 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top img {
  width: 80%;
  margin: 4rem 0;
}

.top p {
  align-self: flex-end;
  margin: .5rem;
  color: white;
}

.bottom {
  box-sizing: border-box;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.bottom h1 {
  font-size: 1.6rem;
  margin: 0;
}

.bottom h2 {
  margin: .25rem 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.bottom p {
  line-height: 1.4;
  color: black;
}

.price {
  align-self: flex-end;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}